<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet" />
    <title>Vizzy</title>
  </head>
  <body>
    <main>
      <div>{{ template "navbar.html" . }}</div>
      <div class="md:container md:mx-auto">
        <div class="p-2 flex flex-col justify-center items-center">
          <div>tbd...</div>
        </div>
      </div>
    </main>
  </body>
</html>
